
body {
  background-color: #bbce94;
}


.jumbotron{
  background-image: url("../img/Header.jpg");
  background-size: cover;
  background-position: center;

}


h1 {
  font-family: 'Bungee Inline', sans-serif;
  text-shadow: 2px 2px black;
  color: #f9f7e5;
}

h2 {
  font-family: 'Sawarabi Gothic', sans-serif;
}

h3 {
  font-family: 'Sawarabi Gothic', sans-serif;

}

.headertext p {
  font-size: 1.5em;
  font-stretch: expanded;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-nav {
  padding-left: 150px;
}

.nav-link {
  color: #f9f7e5;
  font-family: 'Bungee Inline', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-shadow: 2px 2px black;
}

.nav-link:hover  {
  color: #f4df42;
}

.about {
  background-color: #d6e0c0;
  padding: 10px;
}

.upcoming {
  background-color: #d6e0c0;
  padding: 10px;
}

.list-group-item {
  background-color: #f9f7e5;
}


.photos-grid {
  padding-top: 20px;
}

/* .navbar-toggler {
  background-color: white;
} */
